[Unit]
Description=VE.Direct to MQTT Bridge
Requires=mosquitto.service
[Service]
Type=simple
ExecStart=/usr/local/lib/vedirect_to_mqtt
Restart=always
RestartSec=10
WatchdogSec=15
KillMode=process
[Install]
WantedBy=multi-user.target
